<article class="author-block">
	<div class="author-avatar">
		<img src="/static/images/kevin-avatar.png" style="width: 140px;">
	</div>
	<div class="author-about">
		<h4>About the Author</h4>
		<p style="margin: 5px 0 0 0; font-size: 20px; line-height: 28px;">Hi there! I'm Kevin Mandeville. I am a designer in Boston, MA solving email design problems at <a href="http://litmus.com" target="_blank">Litmus</a>. I am also the author of <a href="http://emaildesignbook.com" target="_blank">The Email Design Handbook</a> and co-host of <a href="http://emaildesignpodcast.com" target="_blank">The Email Design Podcast</a>.</p>
	</div>
</article>