<article class="cta-post">
	<h3 class="mtop0">Get My Email Design Insights</h3>
	<p>I'll deliver the latest tips, tricks, & hacks in email design right to your inbox. No spam, no bullsh*t. Expect nothing but kickass content to make your email design workflow better. Pinky promise.</p>
	<form class="max600" action="http://kevinmandeville.createsend.com/t/t/s/hjhhjl/" method="post">
		<input class="input-text" placeholder="Enter your email address" id="fieldEmail" name="cm-hjhhjl-hjhhjl" type="email" required>
		<input type="submit" value="Subscribe" class="input-submit">
	</form>
</article>