<section class="nav">
	<ul id="nav">
		<li class="hide"><a href="/index.html" class="home-kevin"><img src="/static/images/kevin-avatar.png" class="home">@KevinMandeville</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="http://dribbble.com/kevinmandeville" target="_blank">Portfolio</a></li>
		<li><a href="/email-design-book">Book</a></li>
		<li><a href="http://emaildesignpodcast.com" target="_blank">Podcast</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/newsletter" class="newsletter">Newsletter <div class="new">New</div></a></li>
	</ul>
</section>